<!-- <div>
    <h3> {{hero.name | uppercase}} Detail</h3>
    <p> ID: {{hero.id}}</p>
</div>
<div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" [(ngModel)]="hero.name">
</div> -->
<div *ngIf="selectedHero">
    <h3>---------------------------</h3>
    <h3> {{selectedHero.name | uppercase}} Detail</h3>
    <p> ID: {{selectedHero.id}}</p>
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" [(ngModel)]="selectedHero.name">
    </div>
    <h3>--------------------------</h3>
</div>
<h2>My Heroes</h2>
<ul  class="heroes">
    <li *ngFor="let hero of heroes" (click) ="onSelect(hero)"> 
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>
