.heroes{
    margin: 2em;
    list-style-type: none;
    padding: 0;
    width: 15em;
}
.heroes li{
    background-color: #eee;
    margin: 0.5em;
    height: 1.6em;
    line-height: 1.6em;
    border-radius: 0.5em;
    transition: 0.2s;
}
.heroes li:hover{
    background-color: #DDD;
    color: #607D8B;
    cursor: pointer;
    transform: scale(1.07);
}